body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d63384;
    margin: 30px 0;
}

/* Galería en cuadrícula */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilo de imágenes */
.galeria img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px gray;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}
